{% extends 'layout.html' %}

{% block main %}

<table align="center" width="960" height="450" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td valign="top" style="padding:8px;">
            <table align="center" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>

                    <td valign="top" align="center">
                        <table height="245" align="center" width="100%" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" valign="top" height="100%" width="340" style="padding:3px;">

                                    <div frag="窗口61">
                                        <div id="wp_news_w61">

                                            <div class="wp_video_w61 wp_videos active_player"><div class="playwrap player-type-1" style="width: 332px;"><div id="play1524796202170_wrapper" style="position: relative; display: block; width: 332px; height: 242px;">
                                                <script type="text/javascript">
                                                    AC_FL_RunContent( 'type','application/x-shockwave-flash','data','public/image/jwplayer.flash.swf','width','100%','height','100%','bgcolor','#000000','id','play1524796202170','name','play1524796202170','tabindex','0','allowfullscreen','true','allowscriptaccess','always','seamlesstabbing','true','wmode','opaque' ); //end AC code
                                                </script>
                                                <noscript>
                                                    <object type="application/x-shockwave-flash" data="public/image/jwplayer.flash.swf" width="100%" height="100%" bgcolor="#000000" id="play1524796202170" name="play1524796202170" tabindex="0">
                                                        <param name="allowfullscreen" value="true" />
                                                        <param name="allowscriptaccess" value="always" />
                                                        <param name="seamlesstabbing" value="true" />
                                                        <param name="wmode" value="opaque" />
                                                    </object>
                                                </noscript>
                                                <div id="play1524796202170_aspect" style="display: none;"></div></div><div class="playlist"><ul><li class="video_meta eve playing"><i class="video_icon"></i><div class="video_title"><p class="video_title_text"><span class="Article_Title">成果视频</span></p></div><div class="video_thumb"><img src="public/image/start.jpg" /></div><a class="video_link" href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3134a38059/page.htm" title="打开视频文章" target="_blank"></a></li></ul></div></div></div>
                                            <script type="text/javascript">
                                                var wp_video_w61_json = [

                                                    {
                                                        "url": "/_t72/2014/0313/c3134a38059/page.htm",
                                                        "title": "<span class='Article_Title'>成果视频</span>",
                                                        "thumb": "",
                                                        "video": "/_upload/article/videos/75/8e/b36bfbc344efbdf08decc5bdfa5c/01ddb7ce-1b1d-4449-94c4-e1c554c7c34b-B.flv"
                                                    }

                                                ];
                                                $(function() {
                                                    $(".wp_video_w61").sudyPlayer({
                                                        playerPath: "/_js/_portletPlugs/jwplayer/",
                                                        width: 332,
                                                        height: 242,
                                                        type: 1,
                                                        autoNext: false,
                                                        isAuto: "no",
                                                        bgcolor: "#000000",
                                                        JSON : wp_video_w61_json
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>					    </td>
                                <td align="center" valign="top" height="100%" style="padding:3px;">
                                    <table style="border:solid 1px #CCCCCC; background:url(/_upload/tpl/00/48/72/template72/images/back_cxcg.png) no-repeat;" width="100%" height="240" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td width="290" valign="top">
                                                <table border="0" width="100%" height="225" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td valign="top" height="32" background="public/image/back_menu.gif" class="cggk"><img src="public/image/btn_cxcg.gif" /></td>
                                                    </tr>
                                                    <tr><td valign="top" style="padding:9px 5px 8px 5px;">
                                                        <table width="100%" border="0" class="p9">
                                                            <tbody><tr>
                                                                <td height="30" class="cxcg">
                                                                    &nbsp;<img src="public/image/c2.gif" />&nbsp;<a href="http://jxcg.upc.edu.cn/_t72/3142/list.htm">突出优势、着眼需求，创建了以油气勘探为特色、实践能力培养为重点、高层次应用型人才培养为目标的培养体系</a>						  </td>
                                                            </tr>
                                                            <tr><td height="10"></td></tr>
                                                            <tr>
                                                                <td height="30" class="cxcg">
                                                                    &nbsp;<img src="public/image/c2.gif" />&nbsp;<a href="http://jxcg.upc.edu.cn/_t72/3146/list.htm">创新机制、校企联合，创立了以师资队伍为关键、实践平台为基础、校企共管为机制的质量保障体系</a>						  </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td></tr>
                                                    </tbody></table>					 </td>
                                            <td valign="middle" align="center" width="5" style="padding:2px;">
                                                <table width="2" height="230" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    <tbody><tr><td style="background:url(/_upload/tpl/00/48/72/template72/images/sep.gif) repeat-y;"></td></tr>
                                                    </tbody></table>					 </td>
                                            <td valign="top">
                                                <table border="0" width="100%" height="225" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td valign="top" height="32" background="public/image/back_menu.gif" class="cggk"><img src="public/image/btn_zycx.gif" /></td>
                                                    </tr>
                                                    <tr><td valign="top" style="padding:8px 5px 8px 5px;">
                                                        <table width="100%" border="0" class="p9">
                                                            <tbody><tr>
                                                                <td height="30" class="cxcg">
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;中国石油大学地质工程专业学位研究生培养的成功经验为我国专业学位研究生教育的发展提供了示范和借鉴</td>
                                                            </tr>
                                                            <tr><td colspan="2" style="padding-left:15px;">

                                                                <div frag="窗口65">
                                                                    <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody><tr><td>
                                                                        <table border="0" cellpadding="0" cellspacing="0" class="cxcg2">
                                                                            <tbody><tr>
                                                                                <td width="15" height="26"><img src="public/image/c2.gif" /></td>
                                                                                <td class="cxcg2"><table width="100%" height="1" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td align="left"><a href="http://jxcg.upc.edu.cn/_t72/p3155c3137/list.htm" id="p1c3137" target="_self" class="cxcg2">社会影响日益扩大</a></td></tr></tbody></table></td>
                                                                            </tr>
                                                                            </tbody></table></td></tr><tr><td>
                                                                        <table border="0" cellpadding="0" cellspacing="0" class="cxcg2">
                                                                            <tbody><tr>
                                                                                <td width="15" height="26"><img src="public/image/c2.gif" /></td>
                                                                                <td class="cxcg2"><table width="100%" height="1" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td align="left"><a href="http://jxcg.upc.edu.cn/_t72/p3155c3138/list.htm" id="p1c3138" target="_self" class="cxcg2">实践创新能力增强</a></td></tr></tbody></table></td>
                                                                            </tr>
                                                                            </tbody></table></td></tr><tr><td>
                                                                        <table border="0" cellpadding="0" cellspacing="0" class="cxcg2">
                                                                            <tbody><tr>
                                                                                <td width="15" height="26"><img src="public/image/c2.gif" /></td>
                                                                                <td class="cxcg2"><table width="100%" height="1" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td align="left"><a href="http://jxcg.upc.edu.cn/_t72/p3155c3139/list.htm" id="p1c3139" target="_self" class="cxcg2">示范借鉴效果显著</a></td></tr></tbody></table></td>
                                                                            </tr>
                                                                            </tbody></table></td></tr></tbody></table>
                                                                </div>

                                                            </td></tr>
                                                            </tbody></table>
                                                    </td></tr>
                                                    </tbody></table>					 </td>
                                        </tr>
                                        </tbody></table>					    </td>
                            </tr>
                            </tbody></table>
                    </td>

                </tr>
                </tbody>
            </table>
            <table height="5" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr><td></td></tr>
                </tbody></table>
            <table align="center" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>

                    <td valign="top" align="center">
                        <table height="230" align="center" width="100%" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" valign="top" height="100%" width="340" style="padding:3px; padding-top:0px;">
                                    <table style="border:solid 1px #CCCCCC;" width="100%" height="230" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td valign="top" height="32" background="public/image/back_menu.gif" class="cggk"><img src="public/image/btn_cggk.gif" /></td>
                                        </tr>
                                        <tr><td valign="top" style="padding:8px 5px 8px 5px;">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="p9">
                                                <tbody><tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;专业学位建设是国家学位与研究生教育改革和发展的方向，中国石油大学被誉为我国石油工程师的摇篮，是专业学位研究生教育的“先行者”， 本成果以教育部“地质工程领域专业学位研究生教育综合改革试点工作”为依托，在系统总结多年来地质工程硕士培养经验基础上，确立了以企业人才需求为导向、以实践能力培养为核心的培养理念，创建了区别于学术学位的专业学位研究生培养体系和质量保障体系，创立了企业深度参与、实践贯穿始终的培养模式，为我国专业学位研究生教育的发展提供了示范和借鉴。
                                                        <a href="http://jxcg.upc.edu.cn/_t72/2014/0312/c3135a38305/page.htm"><font color="#993333">【详细内容】</font></a></td>
                                                </tr>
                                                </tbody></table>
                                        </td></tr>
                                        </tbody></table>
                                </td>
                                <td align="center" valign="top" height="100%" style="padding:3px; padding-top:0px;">
                                    <table style="border:solid 1px #CCCCCC;" width="100%" height="230" cellpadding="0" cellspacing="0">
                                        <tbody><tr style="background:url(/_upload/tpl/00/48/72/template72/images/back_menu.gif);">
                                            <td valign="top" height="32" class="cggk"><img src="public/image/btn_cgzs.gif" /></td>
                                            <td style="padding-right:15px;" align="right" class="cggk">
                                                <div align="right"><span frag="窗口1" portletmode="windowMore"><span class="more"><a class="more-link" href="####" title="显示更多"><span class="moretext"><font style="color: #000000;font-family: 宋体;font-size: 10;">更多&gt;&gt;</font></span></a></span></span></div></td>
                                        </tr>
                                        <tr><td colspan="2" valign="middle" style="padding:8px 5px 8px 5px;">
                                            <div style="width:575px; overflow-x:hidden;">

                                                <div frag="窗口62">
                                                    <div style="width: 100%">
                                                        <div id="Div174fc27445ee4539873ea77efa6308df_Outer" style="overflow: hidden; width: 575px;">
                                                            <table id="HS174fc27445ee4539873ea77efa6308df" align="left" cellpadding="0" cellspacing="0" border="0"><tbody><tr>
                                                                <td id="Td174fc27445ee4539873ea77efa6308df_Left" valign="top" nowrap="" width="100%"><div id="Div174fc27445ee4539873ea77efa6308df_Adjust_Left" style="width:100%;"><div id="wp_news_w62">

                                                                    <table align="center" width="96%" border="0" cellpadding="0" cellspacing="0" class="p9">
                                                                        <tbody><tr>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/1008/c3149a38354/page.htm" target="_blank" title="工程硕士石砥石荣获“做出突出贡献的工程硕士学位获得者”称号"><img src="public/image/efd79579-412a-4af8-b315-cc108590086f_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/1008/c3149a38354/page.htm" target="_blank" title="工程硕士石砥石荣获“做出突出贡献的工程硕士学位获得者”称号">工程硕士石砥石荣获“做出突出贡...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38349/page.htm" target="_blank" title="外聘导师、胜利油田首席专家宋国奇教授对专业学位研究生论文把关"><img src="public/image/2933374b-61a8-4035-8094-71934cf0d747_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38349/page.htm" target="_blank" title="外聘导师、胜利油田首席专家宋国奇教授对专业学位研究生论文把关">外聘导师、胜利油田首席专家宋国...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38347/page.htm" target="_blank" title="校内导师指导地质工程专业学位研究生的校内实训"><img src="public/image/0558f784-d8b5-48ca-a5cc-d1d63cdb3d43_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38347/page.htm" target="_blank" title="校内导师指导地质工程专业学位研究生的校内实训">校内导师指导地质工程专业学位研...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38351/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养"><img src="public/image/5b944e20-0aa2-4083-992d-3b5393a705a3_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38351/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38345/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养"><img src="public/image/786afa15-118d-4983-9b0a-13a51f3917e5_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38345/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38342/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生实训教材编写"><img src="public/image/a1599910-4b35-4207-9eb9-7bb4ba0ba635_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38342/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生实训教材编写">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38340/page.htm" target="_blank" title="2012年12月与中油测井的专家商讨“订单式”地质工程专业硕士培养计划与教学大纲"><img src="public/image/dceed8ba-d7e3-4bf0-9928-287e4541a224_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38340/page.htm" target="_blank" title="2012年12月与中油测井的专家商讨“订单式”地质工程专业硕士培养计划与教学大纲">2012年12月与中油测井的专家商讨...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38338/page.htm" target="_blank" title="专业学位研究生生产一线实践"><img src="public/image/ef72708a-966f-4b10-8a96-53be53ef5ec3_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38338/page.htm" target="_blank" title="专业学位研究生生产一线实践">专业学位研究生生产一线实践</a></td></tr>
                                                                                </tbody></table></td>

                                                                        </tr>
                                                                        </tbody></table></div>
                                                                </div></td>
                                                                <td id="Td174fc27445ee4539873ea77efa6308df_Right" valign="top" nowrap=""><div id="Div174fc27445ee4539873ea77efa6308df_Adjust_Right" style="width:100%;"><div id="wp_news_w62">

                                                                    <table align="center" width="96%" border="0" cellpadding="0" cellspacing="0" class="p9">
                                                                        <tbody><tr>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/1008/c3149a38354/page.htm" target="_blank" title="工程硕士石砥石荣获“做出突出贡献的工程硕士学位获得者”称号"><img src="public/image/efd79579-412a-4af8-b315-cc108590086f_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/1008/c3149a38354/page.htm" target="_blank" title="工程硕士石砥石荣获“做出突出贡献的工程硕士学位获得者”称号">工程硕士石砥石荣获“做出突出贡...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38349/page.htm" target="_blank" title="外聘导师、胜利油田首席专家宋国奇教授对专业学位研究生论文把关"><img src="public/image/2933374b-61a8-4035-8094-71934cf0d747_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38349/page.htm" target="_blank" title="外聘导师、胜利油田首席专家宋国奇教授对专业学位研究生论文把关">外聘导师、胜利油田首席专家宋国...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38347/page.htm" target="_blank" title="校内导师指导地质工程专业学位研究生的校内实训"><img src="public/image/0558f784-d8b5-48ca-a5cc-d1d63cdb3d43_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38347/page.htm" target="_blank" title="校内导师指导地质工程专业学位研究生的校内实训">校内导师指导地质工程专业学位研...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38351/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养"><img src="public/image/5b944e20-0aa2-4083-992d-3b5393a705a3_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38351/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38345/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养"><img src="public/image/786afa15-118d-4983-9b0a-13a51f3917e5_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38345/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生培养">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38342/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生实训教材编写"><img src="public/image/a1599910-4b35-4207-9eb9-7bb4ba0ba635_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38342/page.htm" target="_blank" title="与企业专家共同讨论地质工程专业学位研究生实训教材编写">与企业专家共同讨论地质工程专业...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38340/page.htm" target="_blank" title="2012年12月与中油测井的专家商讨“订单式”地质工程专业硕士培养计划与教学大纲"><img src="public/image/dceed8ba-d7e3-4bf0-9928-287e4541a224_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38340/page.htm" target="_blank" title="2012年12月与中油测井的专家商讨“订单式”地质工程专业硕士培养计划与教学大纲">2012年12月与中油测井的专家商讨...</a></td></tr>
                                                                                </tbody></table></td>

                                                                            <td height="24"><table border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody><tr><td><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38338/page.htm" target="_blank" title="专业学位研究生生产一线实践"><img src="public/image/ef72708a-966f-4b10-8a96-53be53ef5ec3_s.jpg" width="180" height="140" /></a></td></tr>
                                                                                <tr><td align="center"><a href="http://jxcg.upc.edu.cn/_t72/2014/0313/c3149a38338/page.htm" target="_blank" title="专业学位研究生生产一线实践">专业学位研究生生产一线实践</a></td></tr>
                                                                                </tbody></table></td>

                                                                        </tr>
                                                                        </tbody></table></div>
                                                                </div></td></tr>
                                                            </tbody></table>
                                                        </div><span id="SpanScroll" name="SpanScroll" style="display:none;" onClick="StartScroll174fc27445ee4539873ea77efa6308df();"></span>
                                                        <script language="javascript">

                                                            var t174fc27445ee4539873ea77efa6308df;

                                                            function Marquee174fc27445ee4539873ea77efa6308df(){

                                                                if(parseInt(document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').offsetWidth)>=parseInt(document.getElementById('Td174fc27445ee4539873ea77efa6308df_Left').offsetWidth))
                                                                {
                                                                    var w = parseInt( document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').offsetWidth);
                                                                    document.getElementById('HS174fc27445ee4539873ea77efa6308df').width = w*2;
                                                                    document.getElementById('Td174fc27445ee4539873ea77efa6308df_Left').width = w;
                                                                    document.getElementById('Td174fc27445ee4539873ea77efa6308df_Right').width = w;
                                                                    document.getElementById('Div174fc27445ee4539873ea77efa6308df_Adjust_Left').style.width = w;
                                                                    document.getElementById('Div174fc27445ee4539873ea77efa6308df_Adjust_Right').style.width = w;
                                                                }
                                                                if(document.getElementById('Td174fc27445ee4539873ea77efa6308df_Right').offsetWidth-document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').scrollLeft<=0)
                                                                    document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').scrollLeft-=document.getElementById('Td174fc27445ee4539873ea77efa6308df_Left').offsetWidth;
                                                                else
                                                                    document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').scrollLeft+=1;
                                                            }

                                                            var evalStringInFF;function StartScroll174fc27445ee4539873ea77efa6308df(){
                                                                document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').style.width=1;if(document.readyState == 'complete') {document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').style.width=document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').parentNode.offsetWidth;} else {window.onload=loadComplete;var str="document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').style.width=document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').parentNode.offsetWidth;";if(evalStringInFF==null) {evalStringInFF=str;} else { evalStringInFF+=str;}}
                                                                var ScrollObj174fc27445ee4539873ea77efa6308df;
                                                                ScrollObj174fc27445ee4539873ea77efa6308df=setInterval(Marquee174fc27445ee4539873ea77efa6308df,50);
                                                                document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').onmouseover=function(){clearInterval(ScrollObj174fc27445ee4539873ea77efa6308df)};
                                                                document.getElementById('Div174fc27445ee4539873ea77efa6308df_Outer').onmouseout=function(){ScrollObj174fc27445ee4539873ea77efa6308df=setInterval(Marquee174fc27445ee4539873ea77efa6308df,50)};
                                                            }function loadComplete(){eval(evalStringInFF);}StartScroll174fc27445ee4539873ea77efa6308df();</script></div>
                                                </div>

                                            </div>
                                        </td></tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                    </td>

                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
</table>
{% endblock %}