{% extends 'layout.html' %}

{% block main %}


<table align="center" width="960" height="450" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td valign="top"><table width="100%" height="450" border="0" bgcolor="#FFFFFF" align="left">
            <tr>
                <td valign="top" width="240"><table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="top" align="center" bgcolor="#3786d5" height="35"><table align="center" width="88%" border="0">
                            <tr>
                                <td class="tit1">
<span frag="窗口4" portletmode="simpleColumnAnchor">
<span class='Column_Anchor'>“四位一体、双向优化”本科教学管理新体系的构建与实践</span>
</span>
                                </td>
                            </tr>
                        </table></td>
                    </tr>
                    <tr>
                        <td height="415" colspan="3"  valign="top" align="center">
                            <script language="javascript" id="clientEventHandlersJS">
                                <!--
                                var number=5;//设置多少个菜单//开始前固定
                                function LMYC() {
                                    var lbmc;
//var treePic;
                                    for (i=1;i<=number;i++) {
                                        lbmc = eval('LM' + i);
//treePic = eval('treePic'+i);
//treePic.src = 'images/file.gif';
                                        lbmc.style.display = 'none';
                                    }
                                }
                                function ShowFLT(i) {
                                    lbmc = eval('LM' + i);
//treePic = eval('treePic' + i)
                                    if (lbmc.style.display == 'none') {
                                        LMYC();
//treePic.src = 'images/nofile.gif';
                                        lbmc.style.display = '';
                                    }
                                    else {
//treePic.src = 'images/file.gif';
                                        lbmc.style.display = 'none';
                                    }
                                }
                                //-->
                            </script>
                            <table width="238" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#F6F6F6" class="tabletree1">
                                <tr>
                                    <td width="180" height="35" bgcolor="#FFFFFF"  style="PADDING-LEFT: 40px; font-size:16px; color:#FFFFFF; font-weight:bold; border-bottom:0px; border-top:0px;"><A title="首页导航" href="#" target="_self">首页导航</A></td>
                                </tr>


                                <tr>
                                    <td width="180" height="35" bordercolor="#FFFFFF"  bgcolor="#FFFFFF" class="xm_t"   style="PADDING-LEFT: 40px"><font style="font-size: 11pt"  ><img src="public/image/sign2.png" /><a onClick="javascript:ShowFLT(1)" href="#">成果申请书</a></font></td>
                                </tr>


                                <tr id="LM1" style="DISPLAY: none">
                                    <td width="180" bgcolor="#FFFFFF"><!--以下是第一个参考资料分类-->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabletree2">

                                            <tr>
                                                <td height="35" valign="middle" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px; ">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame">申报管理</a></td>
                                            </tr>

                                            <tr>
                                                <td height="35" valign="middle" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px; ">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame">分类管理</a></td>
                                            </tr>
                                        </table></td>
                                </tr>

                                <tr>
                                    <td width="180" height="35" bordercolor="#FFFFFF"  bgcolor="#FFFFFF"  class="xm_t"  style="PADDING-LEFT: 40px"><font style="font-size: 11pt"  ><img src="public/image/sign2.png" /><a onClick="javascript:ShowFLT(2)" href="#">成果报告&nbsp;</a></font></td>
                                </tr>

                                <tr id="LM2" style="DISPLAY: none">
                                    <td width="180" bgcolor="#FFFFFF"><!--以下是第一个参考资料分类-->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabletree2">
                                            <tr>
                                                <td height="30" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame" >院系审核</a></td>
                                            </tr>
                                        </table></td>
                                </tr>

                                <tr>
                                    <td width="180" height="35" bordercolor="#FFFFFF"  bgcolor="#FFFFFF"  class="xm_t"  style="PADDING-LEFT: 40px"><font style="font-size: 11pt"  ><img src="public/image/sign2.png" /><a onClick="javascript:ShowFLT(4)" href="#">成果鉴定书</a><a onClick="javascript:ShowFLT(3)" href="#">&nbsp;</a></font></td>
                                </tr>

                                <tr id="LM3" style="DISPLAY: none">
                                    <td width="180" bgcolor="#FFFFFF"><!--以下是第一个参考资料分类-->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabletree2">

                                            <tr>
                                                <td height="30" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame">新增任务</a></td>
                                            </tr>
                                        </table></td>
                                </tr>



                                <tr>
                                    <td width="180" height="35" bordercolor="#FFFFFF"  bgcolor="#FFFFFF"  class="xm_t"  style="PADDING-LEFT: 40px"><font style="font-size: 11pt"  ><img src="public/image/sign2.png" /><a onClick="javascript:ShowFLT(5)" href="javascript:void(null)">成果展示视频</a></font></td>
                                </tr>

                                <tr id="LM4" style="DISPLAY: none">
                                    <td width="180" bgcolor="#FFFFFF"><!--以下是第一个参考资料分类-->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabletree2">

                                            <tr>
                                                <td height="30" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame" >新闻通知</a></td>
                                            </tr>
                                            <tr>
                                                <td height="30" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame" >教学奖励</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>






                                <tr>
                                    <td width="180" height="35" bordercolor="#FFFFFF"  bgcolor="#FFFFFF"  class="xm_t"  style="PADDING-LEFT: 40px"><font style="font-size: 11pt"  ><img src="public/image/sign2.png" /><a onClick="javascript:ShowFLT(5)" href="javascript:void(null)">成果支撑材料</a></font></td>
                                </tr>

                                <tr id="LM5" style="DISPLAY: none">
                                    <td width="180" bgcolor="#FFFFFF"><!--以下是第一个参考资料分类-->
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabletree2">

                                            <tr>
                                                <td height="30" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame" >新闻通知</a></td>
                                            </tr>
                                            <tr>
                                                <td height="30" bgcolor="#FFFFFF" class="tabletree3"  style="PADDING-LEFT:40px">&nbsp;<img src="public/image/c1.gif" /><a href="#" target="mainFrame" >教学奖励</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>




                            </table>

                        </td>
                    </tr>
                </table></td>
                <td width="1" background="####################"></td>
                <td valign="top" align="center"><table width="99%" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td height="2"></td></tr>
                    <tr>
                        <td height="37" background="position.gif" style="padding-left:3px;" class="position">当前位置：</td>
                    </tr>
                    <tr>
                        <td height="5"></td></tr>
                    <tr>                      </tr><tr>

                        <td colspan="2" class="content" align="left">


                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,16,0"
                                    width="680" height="650" >
                                <param name="movie" value="video-filename.swf">
                                <param name="quality" value="high">
                                <param name="play" value="true">
                                <param name="LOOP" value="false">
                                <embed src="public/swf/12tjs.swf" width="680" height="650" play="true" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       type="application/x-shockwave-flash">
                                </embed>
                            </object>

                        </td>
                    </tr>
                    </tbody>
                        </table></td>
                    </tr>
                </table></td>
            </tr>
        </table></td>
    </tr>
    </tbody>
</table>




{%endblock%}